.App {
  text-align: center;
  font-family: "Lexend", sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  color: #175A89;
  font-size: 32px;
  font-weight: bolder;
  margin: 20px;
}

.header {
  color: #70A288;
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
}

button {
  border-radius: 15px;
  border-color: transparent;
  background-color: #C5775C;
  color: white;
  padding: 7px;
  margin: 10px;
  font-family: "Lexend", sans-serif;
}

label {
  margin: 10px;
  color: #175A89;
}

table {
  background-color: #ebf2f7;
  border-radius: 20px;
  padding: 20px;
}

input, select {
  margin: 10px;
  border: 2px solid #70A288;
  border-radius: 8px;
}

p{
  color: #175A89;
}

.insights {
  max-width: 500px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
